body{
    background-image: url("../pocetna.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.parent{
    background-color: white;
    width: 400px;
    max-width: 80%;
    height: 100px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 100px;
}
.btn{
    height: 80px;
    width: 100px;
    background-color: lightblue;
    font-size: 20px;
}

.btn:hover{ 
    background-color: green;
    color: white;
}

