

body {
    color: #ffffff;
    background-color:#000000;
}

#start,#play,#difficulty{
    font-family:Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 20px;
    position: fixed;
    top:50%;
    left:50%;
    
    margin-left: -100px;
    height:200px;
    width:250px;
    text-align: center;
}
.btn1{
    margin-top: -200px !important;
}
.btn2{
    margin-top: -100px !important;
}
.btn3{
    margin-top: 0px !important;
}
.btn4{
    margin-top: 100px !important;
}


#start a,#play a,#difficulty a {
    border: 3px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    font-size:2em;
    display: inline-block;
}

#start a:hover,#play a:hover, #difficulty a:hover { background-color: #ffffff; color: #1bafdb; }

.header-img {
    margin-top: 8%;
    margin-left: 40%;
    width: 100%;
    height: 200px;
    background-image: url("/tim_1/img/header.png");
    background-repeat: no-repeat;
  }